.gamestimelinecontainer{
    background-image: radial-gradient(#a94592 2.5px, transparent 2.5px), radial-gradient(#a94592 2.5px, transparent 2.5px);
    background-size: 30px 30px;
    background-position: 0 0, 15px 15px;
    background-color: #a06463;
    background-attachment: fixed;
    background-position: center;
}